.movie-card{
    position: relative;
 }
 
.movie-card-border{
  position: absolute;
  background-color: transparent;
}

.movie-overlay{
    position: relative;
}

.favoriteBtn { 
    display: hidden;
    color: transparent;
}

:hover.movie-overlay .favoriteBtn {
  display: absolute;
  color: #F2F4F3;
}

:hover.movie-card .movie-card-border {
  background-color: #00AFB5;
}

:active.movie-card .movie-card-border {
  background-color: #77FF94;
}
.button {
  background-color: #00AFB5;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #0A0908;
  transition-duration: 200ms;
}

:hover .button {
  background-color: #77FF94;
}